@couleur-principale : RGBA(217, 125, 2, 1); // Splitivity

@couleur-simple : RGBA(204, 27, 22, 1); // Rouge

@couleur-details : RGBA(6, 114, 133, 1); // Bleu

@couleur-bouton-frais :RGBA(85, 98, 111, 1);

@couleur-boutons-personnes : RGBA(120, 189, 155, 1);

@ombre : #222222; 

@font-size : 150%;

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../fonts/pacifico.woff) format('woff');
}

.font-splitivity{font-family: 'Pacifico', 'comic';}
	
.font-clean{font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}

.ombre-text{text-shadow: 0px -1px 0px black;
}

.animation-rapide{
	-webkit-animation-duration: 0.5s;
    -webit-animation-delay: 0.5s;
}
.box-sizing{
	box-sizing: border-box;
}

.use-gpu(@val : 0px){
	-webkit-transform: translate3d(0px,@val,0px);
	-moz-transform: translate3d(0px,@val,0px);
	-ms-transform: translate3d(0px,@val,0px);
	-o-transform: translate3d(0px,@val,0px);
	transform: translate3d(0px,@val,0px);
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
}

html { -webkit-text-size-adjust: 100%; height:100%; }

body{
	height: 100%;
	margin: 0;
	
	
	header{
	.animation-rapide;
	.use-gpu;
	z-index: 20;
	top:0px;
	bottom: 0px;
	right: 0px;
	left:0px;
	height: auto;
	position:fixed;
	background-color : @couleur-principale;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: none;

	.ombre-text;
	&.ombre{
		box-shadow: 0px 3px 10px rgba(0,0,0,0.8);
		border-bottom: 1px solid @couleur-principale + @ombre;
	}
	
		h1{
		color : white;
		.font-splitivity;
		width: 100%;
		text-align: center;
		font-weight: lighter;
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		box-sizing: border-box;
	-moz-box-sizing: border-box;
		
		&#splitivity-titre{
			position: absolute;
			bottom: 0px;
		}
		&#menu-titre{
			position: absolute;
			top:0px;
		}
		}
	
}
.tabs{
	width: 100%;
	z-index: 2;
			.font-clean;
			ul{
				margin: 0;
				padding: 0;
				width: 100%;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				li{
					.use-gpu;
					display: inline-block;
					padding: 10px;
					padding-bottom: 10px;
					margin: 0px;
					width: 35%;
					text-align: center;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					color:white;
					background-color : @couleur-details;
					font-size: @font-size;
					box-shadow: 0px 3px 0px @couleur-details - @ombre inset;

					&:first-child{
						background-color : @couleur-simple;
						box-shadow: 0px 3px 0px @couleur-simple - @ombre inset;
						&.active{
							box-shadow: 0px -3px 0px @couleur-simple - @ombre inset;

						}
					}
					&.active{
					width: 65%;
					box-shadow: 0px -3px 0px @couleur-details - @ombre inset;

					
					}
				}
			}
		}
	
#container{
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	position: absolute;
	height: ~'calc(100% - 116px)';
	#simple{
	height: 100%;
	margin: 0;
		
	
		.total{
		position: relative;
		top:0px;
		.animation-rapide;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		text-align: center;
		.font-clean;
		font-size: @font-size;
		padding: 15px;
			input{
				padding: 5px;
				margin-right: 5px;
				border: none;
				font-size: 1em;
				text-align: center;
				width: 100px;
				&:focus{
				
				border: 1px solid @couleur-principale;
					box-shadow: 0px 0px 5px @couleur-principale;
					outline: none;
				}
				&:hover{
					box-shadow: 0px 0px 2px @couleur-principale;
				}
			}
		}
	
		.resultat{
			position: relative;
			margin: auto;
			.font-clean;
			text-align: center;
			width: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			font-size: @font-size;
		}
	
		.personnes{
		.animation-rapide;
		position: absolute;
		bottom:0px;
		box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 100%;
			padding: 15px;
			transition: all 0.2s ease-in-out ;
			.font-clean;
			text-align: center;
			font-size: @font-size;
			&.activated{
				z-index: 30;
				background: white;
				padding-bottom: 60px;
				box-shadow: 0px -3px 10px RGBA(0,0,0,0.5);
			}
		}
		
		#picker{
			text-align: center;
			width: 100%;
			background-color: white;
		}
	}
	
	#details{
		margin: 0;
		position: absolute;
		top:0px;left:0px; right:0px; bottom:0px;
		.font-clean;
		h3{
			.use-gpu;
			.animation-rapide;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			color : white;
			font-weight: normal;
			width: 100%;
			padding: 10px;
			margin: 0px;
			margin-bottom: 10px;
			&.active{
				position: fixed;
			}
			
			&#bouton-frais{
				background-color: @couleur-bouton-frais;
				box-shadow: 0px -3px 0px @couleur-bouton-frais - @ombre inset;
				margin-top: 10px;
				&.active{
					box-shadow: 0px 3px 0px @couleur-bouton-frais - @ombre inset;
					margin : 0px;
				}
			}
			&#bouton-personnes{
				background-color: @couleur-boutons-personnes;
				box-shadow: 0px -3px 0px @couleur-boutons-personnes - @ombre inset;
				&.active{
					margin: 0;
					box-shadow: 0px 3px 0px @couleur-boutons-personnes - @ombre inset;
				}
				margin-bottom: 20px;
			}
		}
		
		#listeFrais, #listePersonnes{
		padding: 0;
		margin: 0;
		width: auto;
		position: absolute;
		top:0px; right:0px; left:0px; bottom:0px;
		box-sizing: border-box;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		.animation-rapide;
	}
	
	#icone-frais, #icone-personne-liste{
		margin-right: 10px;
	}
		
		li{
		.box-sizing;
		
		list-style: none;
		width: 100%;
		padding: 0px;
		margin: 0px;
		border-bottom:1px solid @couleur-bouton-frais;
		&:first-child{
			border-top: 1px solid @couleur-bouton-frais;
		}
		 div{
			display : inline-block;
		 }
		input{
		.box-sizing;
			background: none;
			font-size: 15pt;
			padding: 10px;
			border: none;
			margin: 0px;
			box-shadow: none;
			min-width: 0px;
			outline: none;
			border-radius: 0px;
			&[name=nomFrais]{
				width: 60%;
			}
			&[name=nomPersonne]{
				width: 100%;
			}

			&[name=quantiteFrais]{
				width: 20%;
			}
			&[name=prixFrais]{
				text-align: right;
				width: 20%;
			}
			&:focus{
				border-bottom: 2px solid @couleur-bouton-frais;
			}
		}
		
		&.fantome{
			border-bottom: 1px silver dashed;
			border-top: 1px silver dashed;
			margin-bottom: 15px;
		}
		}
	}
	
	.colored{
		color: @couleur-principale;
	}
	
	.red{
		color : @couleur-simple;
	}
	
	
	
}

.ui-input-text{
	display:inline-block;
	
	width:19%;
	&:first-child{
		width:60%;
	}
}
}
 .hidden{
	display : none;
 }

 .touched{
 	background-color: RGBA(240, 240, 240, 1);
 }

.detailsPersonne{
width:auto;

}
