@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../fonts/pacifico.woff) format('woff');
}
@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  src: local('roboto'), url(../fonts/roboto.woff) format('woff');
}
.font-splitivity {
  font-family: 'Pacifico', 'comic';
}
.font-clean {
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.ombre-text {
  text-shadow: 0px -1px 0px #000000;
}
.animation-rapide {
  -webkit-animation-duration: 0.5s;
  -webit-animation-delay: 0.5s;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
body {
  height: 100%;
  margin: 0;
}
header {
  -webkit-animation-duration: 0.5s;
  -webit-animation-delay: 0.5s;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  z-index: 20;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: auto;
  position: fixed;
  background-color: #d97d02;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  text-shadow: 0px -1px 0px #000000;
}
header.ombre {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #fb9f24;
}
header h1 {
  color: white;
  font-family: 'Pacifico', 'comic';
  width: 100%;
  text-align: center;
  font-weight: lighter;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
header h1#splitivity-titre {
  position: absolute;
  bottom: 0px;
}
header h1#menu-titre {
  position: absolute;
  top: 0px;
}
header h2 {
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Pacifico', 'comic';
  width: 100%;
  text-align: center;
  font-weight: lighter;
  position: absolute;
  padding: 10px;
  bottom: 50px;
}
header h2 .noms {
  font-size: 13pt;
}
.tabs {
  width: 100%;
  z-index: 2;
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.tabs ul {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.tabs ul li {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  display: inline-block;
  padding: 10px;
  padding-bottom: 10px;
  margin: 0px;
  width: 35%;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: white;
  background-color: #067285;
  font-size: 150%;
  -webkit-box-shadow: 0px 3px 0px #005063 inset;
  box-shadow: 0px 3px 0px #005063 inset;
}
.tabs ul li:first-child {
  background-color: #cc1b16;
  -webkit-box-shadow: 0px 3px 0px #aa0000 inset;
  box-shadow: 0px 3px 0px #aa0000 inset;
}
.tabs ul li:first-child.active {
  -webkit-box-shadow: 0px -3px 0px #aa0000 inset;
  box-shadow: 0px -3px 0px #aa0000 inset;
}
.tabs ul li.active {
  width: 65%;
  -webkit-box-shadow: 0px -3px 0px #005063 inset;
  box-shadow: 0px -3px 0px #005063 inset;
}
#container {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  height: -webkit-calc(100% - 116px);
  height: calc(100% - 116px);
}
#simple {
  height: 100%;
  margin: 0;
}
#simple .total {
  position: relative;
  top: 0px;
  -webkit-animation-duration: 0.5s;
  -webit-animation-delay: 0.5s;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 150%;
  padding: 15px;
}
#simple .total input {
  padding: 5px;
  margin-right: 5px;
  border: none;
  font-size: 1em;
  text-align: center;
  width: 100px;
}
#simple .total input:focus {
  border: 1px solid #d97d02;
  -webkit-box-shadow: 0px 0px 5px #d97d02;
  box-shadow: 0px 0px 5px #d97d02;
  outline: none;
}
#simple .total input:hover {
  -webkit-box-shadow: 0px 0px 2px #d97d02;
  box-shadow: 0px 0px 2px #d97d02;
}
#simple .resultat {
  position: relative;
  margin: auto;
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 150%;
}
#simple .personnes {
  -webkit-animation-duration: 0.5s;
  -webit-animation-delay: 0.5s;
  position: absolute;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  font-size: 150%;
}
#simple .personnes.activated {
  z-index: 30;
  background: white;
  padding-bottom: 60px;
  -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.5);
}
#simple #picker {
  text-align: center;
  width: 100%;
  background-color: white;
}
#details {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#details h3 {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-animation-duration: 0.5s;
  -webit-animation-delay: 0.5s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: white;
  font-weight: normal;
  width: 100%;
  padding: 10px;
  margin: 0px;
  margin-bottom: 10px;
}
#details h3.active {
  position: fixed;
}
#details h3#bouton-frais {
  background-color: #55626f;
  -webkit-box-shadow: 0px -3px 0px #33404d inset;
  box-shadow: 0px -3px 0px #33404d inset;
  margin-top: 10px;
}
#details h3#bouton-frais.active {
  -webkit-box-shadow: 0px 3px 0px #33404d inset;
  box-shadow: 0px 3px 0px #33404d inset;
  margin: 0px;
}
#details h3#bouton-frais #total-frais {
  padding: 3px;
}
#details h3#bouton-personnes {
  background-color: #78bd9b;
  -webkit-box-shadow: 0px -3px 0px #569b79 inset;
  box-shadow: 0px -3px 0px #569b79 inset;
  margin-bottom: 20px;
}
#details h3#bouton-personnes.active {
  margin: 0;
  -webkit-box-shadow: 0px 3px 0px #569b79 inset;
  box-shadow: 0px 3px 0px #569b79 inset;
}
#details h3#bouton-personnes #compteur-personnes {
  position: absolute;
  top: 0px;
  right: 5px;
}
#details h3#bouton-personnes #nombre-personne {
  position: absolute;
  padding: 12px;
  top: 0px;
  right: 55px;
  left: auto;
  color: white;
}
#details #icone-frais,
#details #icone-personne-liste {
  margin-right: 10px;
}
#listeFrais,
#listePersonnes,
#liste_frais {
  padding: 0;
  margin: 0;
  width: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
#listeFrais li,
#listePersonnes li,
#liste_frais li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 50px;
  position: relative;
  background-color: white;
  z-index: 10;
  overflow: hidden;
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
}
#listeFrais li div.list-container,
#listePersonnes li div.list-container,
#liste_frais li div.list-container {
  display: inline-block;
  width: 100%;
  position: absolute;
  background-color: white;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
#listeFrais li div.list-container .touched,
#listePersonnes li div.list-container .touched,
#liste_frais li div.list-container .touched {
  background-color: #f0f0f0;
}
#listeFrais li div.list-container div.totalPersonne,
#listePersonnes li div.list-container div.totalPersonne,
#liste_frais li div.list-container div.totalPersonne {
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: absolute;
  right: 50px;
  padding: 10px;
}
#listeFrais li div,
#listePersonnes li div,
#liste_frais li div {
  display: inline-block;
}
#listeFrais li div.supprimer,
#listePersonnes li div.supprimer,
#liste_frais li div.supprimer {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15pt;
  padding: 9px;
  background-color: #cc1b16;
  color: white;
  z-index: -1;
}
#listeFrais li div.supprimer.left,
#listePersonnes li div.supprimer.left,
#liste_frais li div.supprimer.left {
  left: 0px;
}
#listeFrais li div.supprimer.right,
#listePersonnes li div.supprimer.right,
#liste_frais li div.supprimer.right {
  right: 0px;
}
#listeFrais li div#detailsPersonne,
#listePersonnes li div#detailsPersonne,
#liste_frais li div#detailsPersonne {
  right: 10px;
  position: absolute;
  padding: 10px;
}
#listeFrais li input,
#listePersonnes li input,
#liste_frais li input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  background: none;
  font-size: 15pt;
  padding: 10px;
  border: none;
  margin: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 0px;
  outline: none;
  border-radius: 0px;
  border-bottom: 1px solid #55626f;
}
#listeFrais li input[name=nomFrais],
#listePersonnes li input[name=nomFrais],
#liste_frais li input[name=nomFrais] {
  width: 50%;
}
#listeFrais li input[name=nomFraisPersonne],
#listePersonnes li input[name=nomFraisPersonne],
#liste_frais li input[name=nomFraisPersonne] {
  width: 70%;
}
#listeFrais li input[name=nomPersonne],
#listePersonnes li input[name=nomPersonne],
#liste_frais li input[name=nomPersonne] {
  width: 100%;
}
#listeFrais li input[name=quantiteFrais],
#listePersonnes li input[name=quantiteFrais],
#liste_frais li input[name=quantiteFrais] {
  text-align: right;
  width: 20%;
}
#listeFrais li input[name=prixFrais],
#listePersonnes li input[name=prixFrais],
#liste_frais li input[name=prixFrais] {
  text-align: right;
  width: 30%;
}
#listeFrais li input:focus,
#listePersonnes li input:focus,
#liste_frais li input:focus {
  border-bottom: 2px solid #55626f;
}
#listeFrais li.fantome,
#listePersonnes li.fantome,
#liste_frais li.fantome {
  margin-bottom: 15px;
}
#listeFrais li.fantome input,
#listePersonnes li.fantome input,
#liste_frais li.fantome input {
  border-bottom: 1px dashed #55626f;
}
.colored {
  color: #d97d02;
}
.red {
  color: #cc1b16;
}
.ui-input-text {
  display: inline-block;
  width: 19%;
}
.ui-input-text:first-child {
  width: 60%;
}
.hidden {
  display: none !important;
}
div.active input {
  background-color: #d97d02 !important;
  font-weight: bold;
}
input:disabled {
  color: black;
  opacity: 1;
}
.right {
  float: right;
}
#nombre-personne {
  left: 21px;
  position: relative;
  top: 4px;
  color: lightblue;
}
